/*
html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

body {
  

  font-family: 'Kanit', sans-serif;
  /*font-size: 1vw;*/
  font-size: 18pt;
  background: white;
  color: #fff5e2;
}

h1{
  
font-family: 'Bowlby One SC', cursive;
}
header {
  position: fixed;
  padding: .5em;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background:rgba(0,0,0,0.2);
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 24pt;
  box-shadow: 5px 10px;
  
}

#homelink {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
    padding-right: 40px;    
    font-size: 24pt;
    
  color: white;
  text-decoration: none;
}

#navCatagories {
    /* border: 3px solid black; */
    text-decoration: none;
    color: white;
    float: right;
    padding-right: 40px;    
    font-size: 24pt;
}



#herologo {
    max-height: 300px;
}
.screengrab {
  padding-top: 1em;
  position: relative;
  max-width: 90%;
  text-align: center;
}
#navbar {
  
  z-index: 400;
  color: white;
  top: 0;
  left: 0;
  opacity: .90;
  position: relative;
  display: block !important;
  float: right;
  text-decoration: none;
  
font-family: 'Trade Winds', ;
  
}

.logo {
    height: 40px;
    opacity: 90%;
    
font-family: 'Orbitron', sans-serif;
}

.hero {
  position: relative;
  padding-top: 10%;
  width: 100%;
  display: inline-block;
}

span {
  text-align:  center;
}

.intro {
  position: relative;
  color: #fff5e2;
  height: 10em;
  text-align: center;
}
/*
.artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.artwork {
  display: block;
}
/* DO NOT ENABLE
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  width: 100%;
}*/

main {
  /*padding: 100% 0 8% 23.5%;*/
  /*background-image:-moz-linear-gradient( -45deg, #8700ff 0%, #a9bdfc 100%);*/
  background-image: -webkit-linear-gradient( 225deg, #a9bdfc 0%,  #8700ff 80%);
  /*background-image: -ms-linear-gradient( 45deg, #8700ff 0%, #a9bdfc 100%);*/
  width: 100%;
  
  overflow: hidden;
}/*
.artwork figure {
  position: relative;
  vertical-align: middle;
  padding: 50% 10%;
  background: #cef0f2;
}
.artwork .artwork-description {
  background: #26223e;
  max-height: 400px;
  padding: 11.25em 10em 11.5em;
}*/

 footer {
    
    padding: 2em;
    margin-top: 1.5em;
    
    background-image: -webkit-repeating-linear-gradient(60deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   40%, rgba(167, 108, 108, 0.1) 100%),
    -webkit-repeating-linear-gradient(60deg, hsla(0,0%,  100%,0) 0%, hsla(0,0%,  100%,0)   30%, hsla(0,0%,  100%,.03) 70%),      
    -webkit-repeating-linear-gradient(60deg, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 0%, hsla(0,0%,80%,.15) 80%),
      linear-gradient(60deg, hsl(0,0%,78%)  0%, hsl(0,0%,90%) 33%, hsl(0,0%,78%) 66%, hsl(0,0%,70%)100%);
    border: 5px solid #555555;
  }

/*
.row:before, .row:after {
    content:"";
    display: table;
}

.row:after {
    clear: both;
}*/

.btn {
  border-radius: 10px;
  color: White;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /*background-color: #fff5e2;*/
  background-color: #979797;
}

.container > div {
  width: 100%;
  float: left;
  padding-top: 2em;
  box-shadow: 10px 20px;
}

.col-sm-5 {
  padding: 0;
  vertical-align: middle;
  background-color: #808080;
}

.col-sm {
  text-align: center;
  padding: 0;
  width: 50%;
  vertical-align: middle;
  background-color: #d3d3d3;
  
}

.left {
  border-radius: 0px 15px 15px 0px;
  border: 5px solid #555555;
  border-left: none;
  

}
.right {
  border-radius: 15px 0px 0px 15px;
  border: 5px solid #555555;
  border-right: none;
  box-shadow: hsla(0,0%,  100%,0);
}

.textbox{
  padding: 30px;
  color: #f7e2bb;  
}

.submitbutton {
  background-color: #4aa1db;
  margin-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
  
}

.textinput {
  border-radius: 15px;
}

#contactform {
  padding: 1em;
  max-width: 400px;
  background-color: #808080;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  border: 5px solid #555555;
  box-shadow: rgba(29, 25, 25, 0.671);
}
